@{
    ViewBag.Title = "Itransfo Cotizaciones";
}

<div style="text-align:center; padding-top:30px; padding-bottom:30px">
    <img src="~/Content/logo.png" />
</div>

<div class="row">
    @Html.Raw(TempData["Error"])
</div>